<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
    <title>Filmtivity</title>
</head>

<body>
    <div id="box">
        {{> navigation}}

        <main>
            {{{body}}}
        </main>
        <footer>
            © Filmtivity
        </footer>
    </div>

</body>

</html>