<nav>
    <img src="./static/img/logo.png" alt="logo">

    <ul class="menu">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./all.html">All Movies</a></li>
        <li><a href="./search.html">Search</a></li>
    </ul>

</nav>