<section id="home">
    <div class="home-container">
        <div class="short-info">
            <h1>Explore the World of Movies</h1>
            <h2>Discover a Cinematic Journey</h2>
        </div>
    </div>
</section>
<section id="home-page">
    <div class="offers">
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/cinema1.jpg" alt="nature_1"></div>
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/cinema2.jpg" alt="nature_2"></div>
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/cinema3.jpg" alt="nature_3"></div>
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="./static/img/cinema4.jpg" alt="nature_4"></div>
    </div>
</section>